# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build

/run

/neonpaper-server/build.gradle.kts
/neonpaper-server/src/minecraft
/paper-server
/neonpaper-api/build.gradle.kts
/paper-api
/paper-api-generator

.idea/
